<div class="blog-section pad-70">
    <div class="posts">
        <div class="post">
            <img ngSrc="/assets/img/team.png" alt="" height="588" width="609">
            <h3>Equipe Capacitada</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam quam reiciendis, consectetur dolorem dolorum animi aperiam minus molestias tempora. Voluptatum, cum incidunt doloribus natus enim eos odit fuga in.</p>
        </div>
        <div class="post">
            <img ngSrc="/assets/img/project-guide.png" alt="" height="588" width="609">
            <h3>Seus projetos guiados do zero</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam quam reiciendis, consectetur dolorem dolorum animi aperiam minus molestias tempora. Voluptatum, cum incidunt doloribus natus enim eos odit fuga in.</p>
        </div>
    </div>
</div>